/* Result screen and game end modal */
#result-screen {
    position: absolute; 
    inset: 0; 
    background: rgba(0,0,0,0.9);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 1s ease; 
    z-index: 200;
    backdrop-filter: blur(15px);
}

.show-result { 
    opacity: 1 !important; 
    pointer-events: auto !important; 
}
